.timeline-header {
  padding: 1.5rem 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25;
  font-weight: 700;
  border-bottom: 1px solid #ebeef0;
}
.timeline-header svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--twitter-blue);
}
