.layout {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

@media (max-width: 780px) {
  .layout {
    grid-template-columns: 80px 1fr;
  }
}
